.home .slide-text {
    position: absolute;
    display: block;
    bottom:40%;
    right: 0;
    left:-220px;
    width: 100%;
    padding: 0 10px;
    z-index: 22;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.home .slide-text h2 {
    font-family:'Raleway', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 56px;
    line-height: 69px;
    letter-spacing: 2px;
    color: #FFF;
    position: relative;
}
.home .slide-text span {
    font-weight: 300;
    font-size: 25px;
    line-height: 40px;
    letter-spacing: 0px;
    color: #FFF;
    position: relative;
}
.dpSmall .home .slide-text, .dpXsmall .home .slide-text {
    left: 0;
}
.dpSmall .home .slides-navigation, .dpXsmall .home .slides-navigation {
    bottom: 0%;
    height: 40px;
    top: inherit;
}
.dpSmall .home .slide-text h2, .dpXsmall .home .slide-text h2 {
    font-size: 35px;
    line-height: 45px;
}
.dpSmall .home .slide-text span, .dpXsmall .home .slide-text span {
    font-size: 18px;
    line-height: 27px;
}
.home .slide-filter {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background:rgba(38, 41, 46, 0.7);
}
.call-ta .slide-filter {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background:rgba(38, 41, 46, 0.7);
}
.home .bg-parallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.home .slides-navigation {
    margin: 0 auto;
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 0%;
    height: 120px;
}
.home .slides-navigation a {
    position: absolute;
    font-size: 40px;
    font-weight: 300;
    top: 0;
    right: 0;
    line-height: 35px;
    z-index: 1;
    bottom: 21px;
    color: #CECECE;
}
.home .slides-navigation a:hover {
    color: #DDAD02;
}
.home .slides-navigation a.prev, .home .slides-navigation a.next {
    background: #1A1E22;
    width: 40px;
    height: 40px;
    text-align: center;
}
.home .slides-navigation a.prev {
    right: 42px;
}
.dpSmall .home .slides-navigation, .dpXsmall .home .slides-navigation {
    bottom: 0%;
    height: 40px;
    top: inherit;
}
